PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX : <http://www.metaphacts.com/resource/>
SELECT (count(?countsyear) as ?countx) WHERE
  
 ?countsyear <https://semopenalex.org/property/year> 2021 .
 ?countsyear <https://semopenalex.org/property/worksCount> ?count .
  
 
} 

46310548 (xsd:integer)

PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX : <http://www.metaphacts.com/resource/>
SELECT (count(?creator) as ?countx) WHERE
{
  ?pub <https://semopenalex.org/property/hasConcept> / skos:broader* <https://semopenalex.org/concept/C145642194> .
 ?pub <http://purl.org/dc/terms/creator> ?creator.
  ?creator a <https://semopenalex.org/class/Author> .
 ?creator <https://semopenalex.org/property/countsByYear> ?countsyear .
 ?countsyear <https://semopenalex.org/property/year> 2021 .
 ?countsyear <https://semopenalex.org/property/worksCount> ?count .
  
 
} LIMIT 1000

 SELECT DISTINCT ?relatedConcept WHERE 
    {
      ?anypub <https://semopenalex.org/property/hasConcept> / skos:broader* <https://semopenalex.org/concept/C145642194> .
      ?anypub <https://semopenalex.org/property/hasConcept> ?relatedConcept .
    } 

    
4676 entries

PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
PREFIX : <http://www.metaphacts.com/resource/>
SELECT * WHERE
{
   { 
    SELECT ?relatedConcept (count (?relatedConcept) AS ?conceptcount) WHERE 
    {
      ?anypub <https://semopenalex.org/property/hasConcept> / skos:broader* <https://semopenalex.org/concept/C145642194> .
      ?anypub <https://semopenalex.org/property/hasConcept> ?relatedConcept .
    }  
      GROUP BY ?relatedConcept
      ORDER BY DESC (?conceptcount)
      LIMIT 10
  }
  ?pub a <https://semopenalex.org/class/Work> .
    ?pub <https://semopenalex.org/property/hasConcept> ?relatedConcept .
    ?pub <http://purl.org/dc/terms/creator> ?creator.
    ?pub <http://purl.org/dc/terms/abstract> ?abstract .
    ?pub <http://purl.org/dc/terms/title> ?title .
    ?pub <http://prismstandard.org/namespaces/basic/2.0/doi> ?doi .
  ?creator a <https://semopenalex.org/class/Author> .
    ?creator  <http://xmlns.com/foaf/0.1/name> ?name .
    ?creator <https://semopenalex.org/property/countsByYear> ?countsyear .
  ?countsyear <https://semopenalex.org/property/year> 2021 .
  ?countsyear <https://semopenalex.org/property/worksCount> ?count .
} 