<div class="page">
  <div class="page__body">
    <semantic-query query="SELECT (COUNT(?work) as ?works) WHERE {?work <http://semafours.ch/model/inCluster> <[[this]]> .}" template="<p>Total of {{#each bindings}}{{works.value}}{{/each}} results</p>"></semantic-query>
   <!-- <semantic-table query="
    SELECT ?author ?work ?concept WHERE {
      ?work <http://semafours.ch/model/inCluster> <[[this]]> .
      ?work <http://purl.org/dc/terms/creator> ?author .
      ?work <https://semopenalex.org/property/hasConcept> ?concept .
    }"
    options='{
      "enableGrouping": true,
      "groupingOptions": {"groupedBy": ["work"]}
    }'
    ></semantic-table> -->
    <semantic-chart  type="pie" query="
    SELECT (COUNT(?work) as ?counter) ?concept WHERE {
      ?work <http://semafours.ch/model/inCluster> <[[this]]> .
      ?work <https://semopenalex.org/property/hasConcept> ?concept .
    } GROUP BY ?concept ORDER BY DESC (?counter) LIMIT 10"
    sets='[{"dataSetName": "Concept matches", "category": "concept", "value": "counter"}]'
    ></semantic-chart>
  </div>
</div>