<div class="page soa">
  <div style='padding: 10px; font-size:15px;'>


    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>What exactly do we provide?</b>
      <div style='margin-top:8px;'>
        <ol>
          <li>A semantic search interface to access, search and visualize the SemOpenAlex data in real time.</li>
          <li>Periodically updated <a href='https://semopenalex.s3.amazonaws.com/browse.html' target='_blank'>RDF dump
              files</a> of SemOpenAlex.</li>
          <li>URI Resolution of SemOpenAlex within the Linked Open Data Cloud.</li>
          <li>A publicly accessible <a href='/sparql' target='_blank'>SPARQL endpoint</a> containing the latest
            SemOpenAlex data.</li>
          <li><a href='https://doi.org/10.5281/zenodo.7912776' target='_blank'>Entity Embeddings</a> for all works,
            authors, sources and institutions in SemOpenAlex.</li>
        </ol>
      </div>
    </div>

    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>How big is SemOpenAlex?</b>
      <div style='margin-top:8px;'>
        <bs-row>
          <bs-col md="6">
            {{>::count-entity type='https://semopenalex.org/ontology/Work' image='/assets/images/essay.png'
            label='works'}}
            {{>::count-entity type='https://semopenalex.org/ontology/Author' image='/assets/images/writer.png'
            label='authors'}}
            {{>::count-entity type='https://semopenalex.org/ontology/Institution' image='/assets/images/university.png'
            label='institutions'}}
            {{>::count-entity type='https://semopenalex.org/ontology/Publisher' image='/assets/images/office-building.png'
            label='publishers'}}
          </bs-col>
          <bs-col md="6">
            {{>::count-entity type='https://semopenalex.org/ontology/Source' image='/assets/images/stack-of-books.png'
            label='sources'}}
            {{>::count-entity type='https://semopenalex.org/ontology/Funder' image='/assets/images/funding.png'
            label='funders'}}
            {{>::count-entity type='https://semopenalex.org/ontology/Topic' image='/assets/images/topic.png'
            label='topics'}}
            {{>::count-entity type='https://semopenalex.org/ontology/Keyword' image='/assets/images/search.png'
            label='keywords'}}
          </bs-col>
        </bs-row>
      </div>
    </div>

    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>Potential use cases</b>
      <div style='margin-top:8px;'>
        <ul>
          <li>Entity-centric exploration of publications, authors, institutions, etc. (e.g., concerning some research
            area)</li>
          <li>Easier data integration through use of RDF and by linking resources to other data sources (e.g., combining
            SemOpenAlex with digital library collections in RDF).</li>
          <li>Data analysis and knowledge discovery (e.g., measuring the popularity of publications and authors; build
            semantic
            recommender systems for publications, authors, and sources; and analyzing the evolution of concepts,
            research methods and data sets over time).</li>
        </ul>
      </div>
    </div>

    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>Ontology and Linked Dataset Descriptions</b>
      <div style='margin-top:8px;'>
        <ul>
          <li>
            <a href='https://semopenalex.org/resource/?uri=https%3A%2F%2Fsemopenalex.org%2Fontology%2F'
              target='_blank'>SemOpenAlex Ontology</a>
          </li>
          <li>
            <a href='https://github.com/metaphacts/semopenalex/blob/main/ontologies/semopenalex-ontology.ttl'
              target='_blank'>Turtle file</a>
          </li>
          <li><a href='https://github.com/metaphacts/semopenalex/tree/main/linked-dataset-description'
              target='_blank'>VoID file</a></li>
        </ul>
      </div>
    </div>

    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>Entity Embeddings</b>
      <div style='margin-top:8px;'>
        Trained <a href='https://arxiv.org/pdf/1412.6575.pdf' target='_blank'>DistMult </a> <a
          href='https://zenodo.org/record/7912776#.ZFtZTi1n5ao' target='_blank'>entity embeddings</a> for all works,
        authors, sources and institutions in SemOpenAlex.

      </div>
      <div style='margin-top:8px;'>
        For more details, please refer to <a
          href='https://github.com/metaphacts/semopenalex/tree/main/embeddings-generation' target='_blank'>GitHub</a>.
      </div>
    </div>


    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>URI Resolution</b>
      <div style='margin-top:8px;'>
        The resources of SemOpenAlex are resolvable via HTTP and content negotiation. In this way, the knowledge graph
        is part of the Linked Open Data cloud.

        Examples for URI resolution with curl:
        <mp-code-block mode='text/turtle'>
          curl -H "Accept:text/n3" https://semopenalex.org/work/W4239696231
        </mp-code-block>
        <mp-code-block mode='text/turtle'>
          curl -H "Accept:text/plain" https://semopenalex.org/work/W4239696231
        </mp-code-block>

      </div>
    </div>

    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>RDF Dumps</b>
      <div style='margin-top:8px;'>
        We provide quarterly updated RDF dump files of SemOpenAlex at Amazon S3 at no cost:<br>
        <a href='https://semopenalex.s3.amazonaws.com/browse.html'
          target='_blank'>https://semopenalex.s3.amazonaws.com/browse.html</a>
        <p style='margin-top:8px;'>A small data sample is available in <a
            href='https://github.com/metaphacts/semopenalex/tree/main/data-sample' target='_blank'>GitHub</a>.</p>
      </div>

    </div>


    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>Example SPARQL queries:</b>
      <div style='margin-top:8px;'>

    A SPARQL Query against metaphactory’s <semantic-link iri='{{rdf-resolvePrefix "Help:EphedraEntityLookupService"}}'>entity lookup service</semantic-link> to identify the IRI for the concept Semantic Web.
        <mp-code-block mode='application/sparql-query'>
PREFIX Service: &lt;http://www.metaphacts.com/ontologies/platform/service/>
PREFIX entitylookup: &lt;http://www.metaphacts.com/ontologies/platform/service/entitylookup/>
PREFIX skos: &lt;http://www.w3.org/2004/02/skos/core#>

SELECT ?subject ?type WHERE {
  SERVICE Service:entityLookup {
    ?subject entitylookup:entityName "Semantic Web";
      entitylookup:candidateType skos:Concept;
      entitylookup:type ?type ;
      entitylookup:limit 10 ;
      entitylookup:score ?score ;
      entitylookup:rank ?rank .
  }
}
ORDER BY DESC(?score) DESC(?rank)
        </mp-code-block>
   
        Top 10 most cited papers with the concept semantic web as well as their citation count and first author.
        <mp-code-block mode='application/sparql-query'>

PREFIX foaf: &lt;http://xmlns.com/foaf/0.1/> 
PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#>
PREFIX dcterms: &lt;http://purl.org/dc/terms/>
PREFIX soa: &lt;https://semopenalex.org/ontology/> 
PREFIX skos: &lt;http://www.w3.org/2004/02/skos/core#>

SELECT ?paperTitle ?citedByCount ?firstAuthorName WHERE {

  ?paper dcterms:title ?paperTitle .
  ?paper soa:hasConcept &lt;https://semopenalex.org/concept/C2129575> .
  ?paper soa:citedByCount ?citedByCount .
  ?paper soa:hasAuthorship ?authorship . 
  ?authorship soa:position "0"^^xsd:integer . 
  ?authorship soa:hasAuthor ?firstAuthor . 
  ?firstAuthor foaf:name ?firstAuthorName .

} ORDER BY DESC(?citedByCount) LIMIT 10

        </mp-code-block>

        Title, work URI and open access URL of 100 publications with the concept machine learning from 2022.
         <mp-code-block mode='application/sparql-query'>
PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#>
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
PREFIX rdfs: &lt;http://www.w3.org/2000/01/rdf-schema#> 
PREFIX fabio: &lt;http://purl.org/spar/fabio/>
PREFIX dcterms: &lt;http://purl.org/dc/terms/>
PREFIX soa: &lt;https://semopenalex.org/ontology/>
PREFIX skos: &lt;http://www.w3.org/2004/02/skos/core#>

SELECT DISTINCT ?paperTitle ?paper ?oaUrl WHERE {

  ?paper fabio:hasPublicationYear "2022"^^xsd:integer . 
  ?paper soa:hasConcept ?concept .
  ?concept skos:prefLabel "Machine learning"^^xsd:string . 
  ?paper dcterms:title ?paperTitle .
  ?paper soa:hasOpenAccess ?openAccess .
  ?openAccess soa:oaUrl ?oaUrl . 

} LIMIT 100
         </mp-code-block>

         Top 10 institutions that have published that most works in the year 2021.
         <mp-code-block mode='application/sparql-query'>
PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
PREFIX foaf: &lt;http://xmlns.com/foaf/0.1/>
PREFIX xsd: &lt;http://www.w3.org/2001/XMLSchema#>
PREFIX soa: &lt;https://semopenalex.org/ontology/>

SELECT ?institution ?institutionName ?worksCount WHERE {

  ?institution rdf:type &lt;https://semopenalex.org/ontology/Institution> . 
  ?institution foaf:name ?institutionName .
  ?institution soa:countsByYear ?countsByYear .
  ?countsByYear soa:year "2021"^^xsd:integer .
  ?countsByYear soa:worksCount ?worksCount . 

} ORDER BY DESC(?worksCount) LIMIT 10
         </mp-code-block>    
      </div>
    </div>

  </div>
</div>

<div style='margin:auto;width:922px;padding-top:16px;'>
    <b>Changelog</b>
    <div style='margin-top:8px;'>
        <ul>
            <li>SemOpenAlex v6.0.0 (Release Date 2025-02-11):
                <ul>
                    <li>Removed all RDF-star statements for all <code>skos:Concept</code> linked to Works. The <code>skos:Concept</code> are now linked as plain RDF triples. 
                        E.g. <code>&lt;https://semopenalex.org/work/W4239696231> &lt;https://semopenalex.org/ontology/hasConcept> &lt;https://semopenalex.org/concept/C2129575></code> . Only Concepts above the threshold of 0.3 are included.
                    </li>
                    <li>Added 7 million new Author entities.</li>
                    <li>Added 8 million new Work entities.</li>
                    <li>Added 4 thousand new Institution entities.</li>
                </ul>
            </li>
            <li>SemOpenAlex v5.0.0 (Release Date 2024-06-09):
                <ul>
                    <li>Re-modeled the <code>skos:Concept</code> linked to Works as RDF-star satements including the score. E.g. <code>&lt;&lt; &lt;https://semopenalex.org/work/W4239696231> &lt;https://semopenalex.org/ontology/hasConcept> &lt;https://semopenalex.org/concept/C2129575> &gt;&gt; &lt;https://semopenalex.org/ontology/hasScore> "0.89"^^xsd:float</code> . </li>
                    <li>Added new controlled Vocabularies: <semantic-link iri="https://semopenalex.org/topics">SemOpenAlex Topics</semantic-link>, <semantic-link iri="https://semopenalex.org/keywords/">SemOpenAlex Keywords</semantic-link>, <semantic-link iri="https://nlmpubs.nlm.nih.gov/projects/mesh/skos/">Medical Subject Headings (MeSH)</semantic-link> and <semantic-link iri="http://metadata.un.org/sdg">Sustainable Development Goals Taxonomy (SDG)</semantic-link> that Works are annotated with. All Vocabularies can be accessed in the <a
          href='https://semopenalex.org/resource/Assets:Vocabularies' target='_blank'>Vocabularies</a> overview page in the Assets drop-down in the header.</li>
                </ul>
            </li>
        </ul>
    </div>
</div>



    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>License & Code</b>
      <div style='margin-top:8px;'>
        SemOpenAlex, the linked data description files, and the ontology are licensed under <a
          href='https://creativecommons.org/publicdomain/zero/1.0/' target='_blank'>CC0</a>.

      </div>
      <div style='margin-top:8px;'>
        The source code for creating SemOpenAlex is available <a
          href='https://github.com/metaphacts/semopenalex' target='_blank'>here</a>. It
        is licensed under the MIT License.
      </div>
    </div>

    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>Reference & More Information</b>
      <div style='margin-top:8px;'>
        More information about SemOpenAlex can be found in our ISWC 2023 paper (<a href='https://iswc2023.semanticweb.org/awards/' target='_blank'>Best Paper Award Winner</a>):
        <ul>
          <li>
            <a href='https://arxiv.org/pdf/2308.03671' target='_blank'>SemOpenAlex: The Scientific Landscape in 26
              Billion RDF Triples</a>
          </li>
        </ul>
      </div>
    </div>

    <div style='margin:auto;width:922px;padding-top:16px;'>
      <b>Contact</b>
      <div style='margin-top:8px;'>
        The system has been designed and implemented by Michael Färber<sup>1</sup>, Johan Krause<sup>2</sup>, David
        Lamprecht<sup>3</sup>, Linn Aung<sup>3</sup> and Peter Haase<sup>3</sup>.
        Feel free to submit bug reports and feature requests on <a href='https://github.com/metaphacts/semopenalex' target='_blank'>GitHub</a> and address questions and remarks on the project
        in general to <a href='https://sites.google.com/view/michaelfaerber' target='_blank'>Michael Färber</a>
        (michael.faerber@tu-dresden.de) as Principal Investigator.
      </div>
      <div style='margin-top:8px;'>
        <sup>1</sup>ScaDS.AI & TU Dresden, Dresden, Germany<br>
        <sup>2</sup>Institute AIFB, Karlsruhe Institute of Technology (KIT), Karlsruhe, Germany<br>
        <sup>3</sup>metaphacts GmbH, Walldorf, Germany
      </div>
    </div>

 <p> </p>



<template-fragment id='count-entity'>

  <semantic-query query='
    PREFIX sys: <http://www.ontotext.com/owlim/system#>
    SELECT (COUNT (*) as ?count) FROM sys:statistics {    
        ?subject a <{{type}}>
    }' 
    template='{{> tmpl}}'
  >
    <template id='tmpl'>
      {{#each bindings}}
        <div style='margin:8px'>
          <img src='{{../image}}' style="height: 40px;"/> {{count.value}} <i>{{../label}}</i>
        </div>
      {{/each}}
    </template>
  </semantic-query>
</template-fragment>