<style>
  .soa {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .soa .header {
    padding-bottom: 1rem;
  }
  .soa .row {
    margin-left: 0;
    margin-right: 0;
  }
  .cards {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 1rem;
  }
  .card.publication-chart {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .publication-chart > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }
  .publications__label, .citations__label {
    font-size: 1.3rem;
  }
  .publications__value, .citations__value {
    font-size: 3.2rem;
    font-weight: 700;
  }
  .publications__label, .publications__value {
    color: #000000;
  }
  .citations__label, .citations__value {
    color: var(--soa-color-green);
  }
  .thumbnail {
    max-height: 200px;
    object-fit: contain;
  }
  .search-concepts {
    background: linear-gradient(180deg, #F4F9FF 2.08%, #FFFFFF 50%);
    border-radius: 8px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    padding: 1rem;
  }
  .search-concepts .D3Tree--root {
    overflow: auto;
    max-height: 300px;
    min-height: 300px;
  }
  .search-concepts .broad, .search-concepts .narrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search-concepts .card__title {
    padding-bottom: 0;
    text-align: center;
  }
  .search-concepts .tree {
    padding: 1rem;
  }
  .related-concepts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .related-concepts > div {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .warning {
    display: flex;
    background: rgba(1, 1, 1, 0.05);
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--soa-color-brown-darker);
  }
</style>
<div class="soa">
  <div class="header">
    <mp-label iri='{{page-resource}}' class="header__title-main"></mp-label>
  </div>
  <div class="row cards">
    <div class="card publication-chart">
      <div>
        <div>
          <div class="publications__label">Publications</div>
          <semantic-query query='
            SELECT ?count WHERE {
              <{{page-resource}}> <https://semopenalex.org/ontology/worksCount> ?count
            }' template='{{>tmp}}'>
            <template id="tmp">
              {{#each bindings}}
                <div class="publications__value">{{count.value}}</div>
              {{/each}}
            </template>
          </semantic-query>
        </div>
        <div>
          <div class="citations__label">Citation</div>
          <semantic-query query='
            SELECT ?count WHERE {
              <{{page-resource}}> <https://semopenalex.org/ontology/citedByCount> ?count  
            }
          ' template="{{> tmp}}">
            <template id="tmp">
              {{#each bindings}}
                <div class="citations__value">{{count.value}}</div>
              {{/each}}
            </template>
          </semantic-query>
        </div>
      </div>
      <semantic-chart type="bar" query="
        SELECT ?year ?work WHERE {
          <{{page-resource}}> <https://semopenalex.org/ontology/countsByYear> ?count .
          ?count <https://semopenalex.org/ontology/year> ?year .
          ?count <https://semopenalex.org/ontology/worksCount> ?work .
        } ORDER BY ASC(?year)
      " sets='[{"dataSetName": "Publications", "category": "year", "x": "year", "y": "work"}]'
        styles='[{
          "provider": "highcharts",
          "style": {
            "series": [
              {"type": "column", "showInLegend": false}
            ]
          }
        }]'
        style-highcharts='{
          "legend": "hide",
          "caption": {"align": "center", "text": "The last 10 years of publications."}
        }'
        dimensions='{"height": 180}'
      >
      </semantic-chart>
    </div>
    <div class="card">
      <mp-resource-thumbnail iri="{{page-resource}}" class='thumbnail' no-image-uri='/assets/images/no-photos.png'></mp-resource-thumbnail>
    </div>
  </div>
  <div class="row search-concepts">
    <div class="broad">
      <div class="card__title">BROADER CONCEPTS</div>
      <div class="tree">
        <semantic-tree
          query='
          SELECT ?parent ?node WHERE {
            {
              VALUES (?parent ?node) { ( UNDEF <{{page-resource}}>)}
            } UNION { 
              BIND (<{{page-resource}}> as ?parent)
              ?parent skos:broader ?node .
            } UNION {
              BIND (<{{page-resource}}> as ?concept)
              ?concept skos:broader ?parent .
              ?parent skos:broader ?node .
            } UNION {
              BIND (<{{page-resource}}> as ?concept)
              ?concept skos:broader ?l4 .
              ?l4 skos:broader ?parent .
              ?parent skos:broader ?node . 
            } UNION {
              BIND (<{{page-resource}}> as ?concept)
              ?concept skos:broader ?l4 .
              ?l4 skos:broader ?l3 .
              ?l3 skos:broader ?parent .
              ?parent skos:broader ?node . 
            } UNION {
              BIND (<{{page-resource}}> as ?concept)
              ?concept skos:broader ?l4 .
              ?l4 skos:broader ?l3 .
              ?l3 skos:broader ?l2 .
              ?l2 skos:broader ?parent .
              ?parent skos:broader ?node . 
            } 

          } LIMIT 100'
          tuple-template='{{> nodeTemplate}}'
          provider="d3-dendrogram"
          d-3-tree-options='{"nodeHeight": 20, "nodeWidth":150}'
        >
          <template id="nodeTemplate">
            <semantic-link iri='{{node.value}}'></semantic-link>
          </template>
        </semantic-tree>
      </div>
    </div>
    <div class="narrow">
       <div class="card__title">NARROWER CONCEPTS</div>
       <div class="tree">
        <semantic-tree
          query='
          SELECT ?parent ?node WHERE {
            {
              VALUES (?parent ?node) { ( UNDEF <{{page-resource}}>)}
            } UNION { 
              BIND (<{{page-resource}}> as ?parent)
              ?parent ^skos:broader ?node .
            } UNION {
              BIND (<{{page-resource}}> as ?concept)
              ?concept ^skos:broader ?parent .
              ?parent ^skos:broader ?node .
            } UNION {
              BIND (<{{page-resource}}> as ?concept)
              ?concept ^skos:broader ?l4 .
              ?l4 ^skos:broader ?parent .
              ?parent ^skos:broader ?node . 
            } UNION {
              BIND (<{{page-resource}}> as ?concept)
              ?concept ^skos:broader ?l4 .
              ?l4 ^skos:broader ?l3 .
              ?l3 ^skos:broader ?parent .
              ?parent ^skos:broader ?node . 
            } UNION {
              BIND (<{{page-resource}}> as ?concept)
              ?concept ^skos:broader ?l4 .
              ?l4 ^skos:broader ?l3 .
              ?l3 ^skos:broader ?l2 .
              ?l2 ^skos:broader ?parent .
              ?parent ^skos:broader ?node . 
            } 

          } LIMIT 100'
          tuple-template='{{> nodeTemplate}}'
          keys-opened='{{page-resource}}'
          provider="d3-dendrogram"
          collapsed="false"
          d-3-tree-options='{"nodeHeight": 20, "nodeWidth":150}'
        >
          <template id="nodeTemplate">
            <semantic-link iri='{{node.value}}'></semantic-link>
          </template>
        </semantic-tree>
      </div>
    </div>
  </div>
  <div class="row related-concepts">
    <div class="card__title">RELATED CONCEPTS</div>
    <div>
      <semantic-query query='
        SELECT ?relatedConcept WHERE {
          BIND(<{{page-resource}}> as ?concept)
          ?concept <http://www.w3.org/2004/02/skos/core#related> ?relatedConcept .
        } LIMIT 20
      ' template='{{>tmp}}' no-result-template='<span>No related concepts found.</span>'>
        <template id="tmp">
          {{#each bindings}}
             <span class="badge badge-secondary" >
              <semantic-link iri="{{relatedConcept.value}}"></semantic-link>&nbsp;
            </span> 
          {{/each}}
        </template>
      </semantic-query>
    </div>
  </div>
  <div class="row card publications">
    <mp-event-target-template-render id="publications" template='{{>tmp}}'>
      <template id="tmp">
        <div class="publications__header">
          <div class="card__title">PUBLICATIONS</div>
          <div class="buttons">
            <mp-event-trigger type='Component.TemplateUpdate' data='{"sort":"DESC (?cited)", "all": "{{all}}"}' targets='["publications"]'>
              <button class='{{#unless sort}}selected{{/unless}}{{#ifCond sort "===" "DESC (?cited)"}}selected{{/ifCond}}'>Most cited</button>
            </mp-event-trigger>
            <mp-event-trigger type='Component.TemplateUpdate' data='{"sort":"DESC (?publicationYear)", "all": "{{all}}"}' targets='["publications"]'>
              <button class='{{#ifCond sort "===" "DESC (?publicationYear)"}}selected{{/ifCond}}'>Latest</button>
            </mp-event-trigger>
          </div>
        </div>
        <semantic-table query='
          SELECT ?title ?publication ?cited ?publicationYear ?publisher ?volume ?issue (group_concat(DISTINCT ?name; separator = ", ") as ?authors) (COUNT(?publication) as ?count) WHERE {
            {
              SELECT * WHERE {
                ?publication <https://semopenalex.org/ontology/hasConcept> <{{page-resource}}> .  
              }
              LIMIT 1001
            }
            ?publication <http://purl.org/dc/terms/creator> ?author . 
            ?publication <http://purl.org/dc/terms/title> ?title .
            ?author <http://xmlns.com/foaf/0.1/name> ?name .
            ?publication <https://semopenalex.org/ontology/citedByCount> ?cited .
            OPTIONAL {
              ?publication <https://semopenalex.org/ontology/hasHostVenue> ?hostVenue .
              ?hostVenue <https://semopenalex.org/ontology/hasVenue> ?venue .
              ?venue <http://purl.org/dc/terms/publisher> ?publisher .
            }
            OPTIONAL {
              ?publication <https://semopenalex.org/ontology/hasVolume> ?volume .
            }
            OPTIONAL {
              ?publication <https://semopenalex.org/ontology/hasIssue> ?issue .
            }
            OPTIONAL {
              ?publication <http://purl.org/spar/fabio/hasPublicationYear> ?publicationYear .  
            }
          } 
          GROUP BY ?title ?publication ?publicationYear ?cited ?publisher ?volume ?issue
          ORDER BY {{#if sort}}{{sort}}{{else}}DESC(?cited){{/if}}
          LIMIT {{#ifCond all "===" "true"}}1001{{else}}10{{/ifCond}}' 
          number-of-displayed-rows="10"
          tuple-template='
            <div class="publication">
              <div class="publication__top">
                <semantic-link iri="{{publication.value}}">
                  <div class="publication__title">{{title.value}}</div>
                </semantic-link>
                <div class="publication__author" style="width: 100%;">
                  <mp-text-truncate truncate="..." style="width: inherit;">
                    By {{authors.value}}
                  </mp-text-truncate>
                </div>
                <div class="publication__info">
                  {{#if publisher}}{{publisher.value}}, {{/if}}
                  {{#if volume}}Volume {{volume.value}}, {{/if}}
                  {{#if issue}}Issue {{issue.value}}, {{/if}}
                  {{publicationYear.value}}
                </div>
              </div>
              <div class="publication__bottom">
                <div class="publication__year">{{publicationYear.value}}</div>
                <div class="publication__citation">
                  <div class="publication__citation-icon"></div>
                  <div class="publication__citation-value">{{cited.value}}</div>
                </div>
              </div>
            </div>
        ' options='{"showFilter":false}'></semantic-table>
        <mp-event-trigger type='Component.TemplateUpdate' data='{"all": "true", "sort": "{{sort}}"}' targets='["publications"]'>
          <button class='publications__foot-button {{#ifCond all "===" "true"}}publications__foot-button--disabled{{/ifCond}}'>ALL PUBLICATIONS</button>
        </mp-event-trigger>
        <semantic-query query='SELECT (COUNT(*) as ?count) WHERE {
          {
            SELECT * WHERE {
              ?publication <https://semopenalex.org/ontology/hasConcept> <{{page-resource}}> .  
            }
            LIMIT 1001
          }
        }' template='{{> tmp}}'>
          <template id="tmp">
            {{#each bindings}}
              {{#ifCond count.value ">=" 1000}}<div class="warning">The table above is a preview of 1000 publications. However, the absolute number of publications seems to be larger and some publications might be missing.</div>{{/ifCond}}
            {{/each}}
          </template>
        </semantic-query>
      </template>
    </mp-event-target-template-render>
  </div>
</div>