
{{!-- use custom templates for concepts from different vocabularies --}}

{{#if (string-startsWith (page-resource) "https://semopenalex.org/concept/")}}
  {{>semopenalex:Concept}}
{{/if}}

{{#if (string-startsWith (page-resource) "https://semopenalex.org/topic/")}}
  {{>semopenalex:TopicConcept}}
{{/if}}

{{#if (string-startsWith (page-resource) "https://semopenalex.org/keyword/")}}
  {{>semopenalex:KeywordConcept}}
{{/if}}

{{#if (string-startsWith (page-resource) "http://metadata.un.org/sdg/")}}
  {{>semopenalex:SDGConcept}}
{{/if}}

{{#if (string-startsWith (page-resource) "http://id.nlm.nih.gov/mesh/")}}
  {{>semopenalex:MeshConcept}}
{{/if}}

{{!-- for Domain, Field and Subfield, redirect to default concept template --}}
{{#if 
  (cond-or 
    (string-startsWith (page-resource) "https://semopenalex.org/domain/") 
    (string-startsWith (page-resource) "https://semopenalex.org/field/") 
    (string-startsWith (page-resource) "https://semopenalex.org/subfield/") 
  )
}}
  {{>semopenalex:DefaultConceptTemplate}}
{{/if}}

