<div class="page">
    <div class="ml-5 mt-5 mr-5">
      <h1> 
        Cluster: <mp-label iri="{{page-resource}}"></mp-label>
        <img src="https://freesvg.org/img/1642408757traffic-lights-clip-art.png" style='max-height:40px'>
      </h1>
       <semantic-query query="SELECT (COUNT(?work) as ?works) WHERE {?work <http://semafours.ch/model/inCluster> <[[this]]> .}" template="<p>{{#each bindings}}{{works.value}}{{/each}} publications </p>"></semantic-query>
      <h2>Expert Cluster Overview</h2>
     
<div data-flex-layout="row stretch-stretch">
        <div data-flex-layout="column top-stretch">
          <div class="grid-demo" style='padding-right:8px'>
            <h3>Top 10 Authors</h3>
             <semantic-chart  type="bar" query="
              SELECT (COUNT(DISTINCT ?work) as ?counter) ?Author WHERE {
                ?work <http://semafours.ch/model/inCluster> <[[this]]> .
                ?work <http://purl.org/dc/terms/creator> ?Author .

              } GROUP BY ?Author ORDER BY DESC (?counter) LIMIT 10"
              sets='[{"dataSetName": "Author matches", "category": "Author", "value": "counter"}]'
              ></semantic-chart>
          </div>
          <div class="grid-demo" style='padding-right:8px' data-flex-self="size-x1" data-flex-layout="column center-center">
              <h3>Top 10 Topics</h3>
               <semantic-chart  type="pie" query="
              SELECT (COUNT(DISTINCT ?work) as ?counter) ?concept WHERE {
                ?work <http://semafours.ch/model/inCluster> <[[this]]> .
                ?work <https://semopenalex.org/property/hasConcept> ?concept .
              } GROUP BY ?concept ORDER BY DESC (?counter) LIMIT 10"
              sets='[{"dataSetName": "Concept matches", "category": "concept", "value": "counter"}]'
              ></semantic-chart>
          </div>
        </div>
        <div class="grid-demo" data-flex-layout="column center-center" style="height: 70px;">
          <h3>Cluster Members</h3>
            <semantic-table query="
          SELECT ?Author ?Publication ?Topic ?Citations WHERE {
            ?Publication <http://semafours.ch/model/inCluster> <[[this]]> .
            ?Publication <http://purl.org/dc/terms/creator> ?Author .
            ?Publication <https://semopenalex.org/property/hasConcept> ?Topic .
            ?Publication <https://semopenalex.org/property/citedByCount> ?Citations .
            
          }ORDER BY DESC(?Citations) "
          options='{
            "enableGrouping": true,
            "groupingOptions": {"groupedBy": ["Publication"]}
          }'
          ></semantic-table> 
        </div>
      </div>

      
   

    




      <br>
      <h2>Expert Finding</h2>

<semantic-query id="query" query="
              SELECT DISTINCT ?Author (COUNT(?Author) AS ?total)  WHERE
            {
            
            ?Author a <https://semopenalex.org/class/Author> . 
            ?work <http://purl.org/dc/terms/creator> ?Author .

            ?work a <https://semopenalex.org/class/Work> .
            ?work <http://semafours.ch/model/inCluster> <{{page-resource}}> .
            } 
            Group BY  ?Author
            ORDER BY DESC (?total)
            LIMIT 20
           " template='{{> constant-search}}'>
           <template id="constant-search">

<semantic-search 
  
   relations = '{ 
     
     "<http://www.w3.org/ns/org#memberOf>": [
                     {
                       "kind": "resource",
                       "queryPattern": "
                         $subject  <https://semopenalex.org/property/hasAuthorPosition>/<https://semopenalex.org/property/hasAuthor> / <http://www.w3.org/ns/org#memberOf> ?__value__ .
                       "
                     }
                   ]
                  }'



    search-profile='{

              "categories": [{
                        "iri": "<https://semopenalex.org/class/Work>",
                        "label": "Topic",
                        "thumbnail": "../images/help/thenounproject/noun_1113333.svg" },
                        {
                        "iri": "<https://semopenalex.org/class/Author>",
                        "label": "Author",
                        "thumbnail": "../images/help/thenounproject/noun_1113333.svg" },
                        { 
                        "iri": "<https://semopenalex.org/class/Institution>",
                        "label": "Institution",
                        "thumbnail": "../images/help/thenounproject/noun_1113333.svg" }
                        
                        ],
                  
              "relations": [{
                        "iri": "<http://purl.org/spar/fabio/hasPublicationYear>",
                        "label": "year published",
                        "hasDomain": "<https://semopenalex.org/class/Work>",
                        "hasRange": "<http://www.w3.org/2001/XMLSchema#integer>"
                         },
                         {
                        "iri": "<http://purl.org/spar/fabio/hasPublicationYear>",
                        "label": "activity year",
                        "hasDomain": "<https://semopenalex.org/class/Author>",
                        "hasRange": "<http://www.w3.org/2001/XMLSchema#integer>"
                         },
                         {
                        "iri": "<http://www.w3.org/ns/org#memberOf>",
                        "label": "member of",
                        "hasDomain": "<https://semopenalex.org/class/Author>",
                        "hasRange": "<https://semopenalex.org/class/Institution>"
                         }

                         

                         
                         
                         ]
                  }'
    >  
   
      <semantic-search-query-constant
        domain='<https://semopenalex.org/class/Author>'
        query='
            SELECT DISTINCT ?subject ?topic ?year  WHERE
            {
               VALUES (?Author) 
           {
            
             {{#each bindings}}
              (<{{Author.value}}>)
            {{/each}}
           }            
               ?subject  <https://semopenalex.org/property/hasAuthorPosition>/<https://semopenalex.org/property/hasAuthor> ?Author;
                        <https://semopenalex.org/property/hasConcept> ?topic ;
                        <http://purl.org/spar/fabio/hasPublicationYear> ?year. 

              
           }
            '
      ></semantic-search-query-constant>




  <semantic-search-facet-store id='facet'></semantic-search-facet-store>
  <div style='display: flex;'>
    <div style='flex: 0.33;'>
      <semantic-search-facet-group allow-multiple-open='true'></semantic-search-facet-group>
    </div>
    <semantic-search-result-holder>
      <div style='flex: 1;'>
        <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
      
      <semantic-search-result>
        
         </semantic-search-result>
          <bs-tabs id="results">
            <bs-tab title="Top 20 Experts (Cluster)" event-key='0'>
               <semantic-search-result>
                 <semantic-table id="resulttable" query="
            select DISTINCT ?Author (count (DISTINCT ?Pubs) as ?ClusterCount) WHERE {
               ?Pubs <http://semafours.ch/model/inCluster> <[[this]]> .
                ?Pubs <http://purl.org/dc/terms/creator> ?Author .
              }           
              GROUP BY ?Author
              ORDER BY DESC (?ClusterCount)
              ">
                </semantic-table>
              </semantic-search-result>
                    
            </bs-tab>
           
            <bs-tab title="Top Authour Topics (General)" event-key='1' >
                     <semantic-search-result>
                        <semantic-chart id='chart' provider="highcharts" type="bubble" query="SELECT * WHERE {} " 
                           sets='[{"dataSetName": "Topics", "category": "topic", "x": "year", "y": "topic"}]'>
                        </semantic-chart>
                      </semantic-search-result>
            </bs-tab>

           
            </bs-tabs>
        

        <bs-panel>
          <semantic-search-result>
            <mp-sparql-download id='csv-download'
                                query="SELECT * WHERE { }"
                                header="text/csv"
                                filename="csv-result.csv">
              <button class="btn btn-secondary">Download CSV</button>
            </mp-sparql-download>
          </semantic-search-result>
          <semantic-search-result>
            <mp-sparql-download id='json-download'
                                query="SELECT * WHERE { }"
                                header="application/sparql-results+json"
                                filename="json-result.json"
                                >
              <button class="btn btn-secondary">Download JSON</button>
            </mp-sparql-download>
          </semantic-search-result>
        </bs-panel>
      </div>
    </semantic-search-result-holder>




     
      </div>
    </semantic-search>

           </template>
        


</semantic-query>    
    </div>
</div>
