<style>
  .soa {
    padding: 1rem;
  }
  .header__bottom {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .card.publication-citation-chart {
    flex-direction: row;
    gap: 1rem;
  }
  .publication-citation-chart .label {
    font-size: 1.3rem;
  }
  .publication-citation-chart .value {
    font-size: 3.2rem;
    font-weight: 700;
  }
  .publication-count {
    color: #000000;
  }
  .citation-count {
    color: var(--soa-color-green);
  }
  .card.source-info {
    font-size: 1rem;
    justify-content: center;
  }
  .card.source-info .card__title {
    padding-bottom: 0;
    padding-top: 1rem;
  }
  .card.source-info .card__title:first-child {
    padding-top: 0;
  }
  .concepts {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
<div class="soa">
  <div class="header">
    <mp-label iri='{{page-resource}}' class="header__title-main"></mp-label>
    <div class="header__bottom">
      <semantic-query query='
        SELECT ?publisher ?name ?isOa ?isInDoaj WHERE {
          BIND(<{{page-resource}}> as ?source)
          ?source <https://semopenalex.org/ontology/hasHostOrganization> ?publisher ;
                 <http://xmlns.com/foaf/0.1/name> ?name ;
                 <https://semopenalex.org/ontology/isOa> ?isOa .
          OPTIONAL {
            ?source <https://semopenalex.org/ontology/isInDoaj> ?isInDoaj
          }
        }
      ' template='{{> tmp}}'>
        <template id='tmp'>
          {{#each bindings}}
            {{#if publisher}}
              <div class="header__title-sub">
                {{publisher.value}}
                <i class="fa {{#if (cond-eq isOa.value 'true')}}fa-unlock{{else}}fa-lock{{/if}}"></i>
              </div>
            {{/if}}
            {{#if (cond-eq isInDoaj.value 'true')}}
              <div><a href="https://doaj.org/">DOAJ</a></div>
            {{/if}}
          {{/each}}
        </template>
      </semantic-query>
    </div>
  </div>
  <div class="body">
    <div class="cards">
      <div class="card publication-citation-chart">
        <div>
          <div class="label publication-count">Publications</div>
          <div class="value publication-count">
            <semantic-query query='
              SELECT ?publications WHERE {
                <{{page-resource}}> <https://semopenalex.org/ontology/worksCount> ?publications
              }'>
                {{publications.value}}
            </semantic-query>
          </div>
          <div class="label citation-count">Citations</div>
          <div class="value citation-count">
            <semantic-query query='
              SELECT ?citations WHERE {
                <{{page-resource}}> <https://semopenalex.org/ontology/citedByCount> ?citations
              }'>
                {{citations.value}}
            </semantic-query>
          </div>
        </div>
        <semantic-chart type="bar" query="
          SELECT ?year ?publications WHERE {
            <{{page-resource}}> <https://semopenalex.org/ontology/countsByYear> ?countsByYear .
            ?countsByYear <https://semopenalex.org/ontology/year> ?year ;
                          <https://semopenalex.org/ontology/worksCount> ?publications
          } ORDER BY ASC(?year)
        " sets='[{"dataSetName": "Citations", "category": "year", "x": "year", "y": "publications"}]'
          styles='[{
            "provider": "highcharts",
            "style": {
              "series": [
                {"type": "column", "showInLegend": false}
              ]
            }
          }]'
          style-highcharts='{
            "legend": "hide",
            "caption": {"align": "center", "text": "The last 10 years of publications."}
          }'
          dimensions='{"height": 180}'
        >
        </semantic-chart>
      </div>
      <div class="card source-info">
        <semantic-query query='
          SELECT ?homepage ?issnL (group_concat(DISTINCT ?issn) as ?issns) WHERE {
            BIND(<{{page-resource}}> as ?source)
              OPTIONAL {
                ?source <http://prismstandard.org/namespaces/basic/2.0/issn> ?issn .
            }
              OPTIONAL {
                ?source <http://xmlns.com/foaf/0.1/homepage> ?homepage .
            }            
              OPTIONAL {
                ?source <http://purl.org/spar/fabio/hasIssnL> ?issnL
            }
          }
          GROUP BY ?homepage ?issnL
        ' template='{{> tmp}}'>
          <template id="tmp">
            {{#each bindings}}
              {{#if issnL}}
                <div class="card__title">ISSN-L</div>
                <div>{{issnL.value}}</div>
              {{/if}}
              {{#ifCond issns.value "!==" ""}}
                <div class="card__title">ISSN</div>
                <div>{{issns.value}}</div>
              {{/ifCond}}
                <div class="card__title">Home Page</div>
                <div>
                  {{#if homepage}}
                    <a href="{{homepage.value}}">{{homepage.value}}</a>
                  {{else}}
                    <span>Home page not available.</span>
                  {{/if}}
                </div>
            {{/each}}
          </template>
        </semantic-query>
      </div>
    </div>
    <div class="concepts">
      <semantic-query query='
        SELECT DISTINCT ?concept WHERE {
          BIND(<{{page-resource}}> as ?source)
          ?hostsource <https://semopenalex.org/ontology/hasSource> ?source .
          ?work <https://semopenalex.org/ontology/hasLocation>|<https://semopenalex.org/ontology/hasPrimaryLocation>|<https://semopenalex.org/ontology/hasBestOaLocation> ?hostsource .
          ?work <https://semopenalex.org/ontology/hasConcept> ?concept  
        }
        LIMIT 70
      ' template='{{> tmp}}'>
        <template id="tmp">
          {{#each bindings}}
            <span class="badge badge-secondary">
              <semantic-link  iri="{{concept.value}}"></semantic-link>&nbsp;
            </span>
          {{/each}}
        </template>
      </semantic-query>
    </div>
    <div class="card publications">
      <mp-event-target-template-render id="publications" template='{{>tmp}}'>
        <template id="tmp">
          <div class="publications__header">
            <div class="card__title">PUBLICATIONS</div>
            <div class="buttons">
              <mp-event-trigger type='Component.TemplateUpdate' data='{"sort":"DESC (?cited)", "all": "{{all}}"}' targets='["publications"]'>
                <button class='{{#unless sort}}selected{{/unless}}{{#ifCond sort "===" "DESC (?cited)"}}selected{{/ifCond}}'>Most cited</button>
              </mp-event-trigger>
              <mp-event-trigger type='Component.TemplateUpdate' data='{"sort":"DESC (?publicationYear)", "all": "{{all}}"}' targets='["publications"]'>
                <button class='{{#ifCond sort "===" "DESC (?publicationYear)"}}selected{{/ifCond}}'>Latest</button>
              </mp-event-trigger>
            </div>
          </div>
          <semantic-table query='
            SELECT ?title ?publication ?cited ?publicationYear ?publisher ?volume ?issue (group_concat(DISTINCT ?name; separator = ", ") as ?authors) WHERE {
              BIND(<{{page-resource}}> as ?source)
              ?hostsource <https://semopenalex.org/ontology/hasSource> ?source .
              ?publication <https://semopenalex.org/ontology/hasLocation>|<https://semopenalex.org/ontology/hasPrimaryLocation>|<https://semopenalex.org/ontology/hasBestOaLocation> ?hostsource .
          
              
              OPTIONAL { 
                ?publication <http://purl.org/dc/terms/creator> ?author . 
                ?author <http://xmlns.com/foaf/0.1/name> ?name .
              }
              OPTIONAL {   ?publication <https://semopenalex.org/ontology/citedByCount> ?cited . }
              OPTIONAL {
               
                ?source <https://semopenalex.org/ontology/hasHostOrganization> ?publisher .
              }
              OPTIONAL {
                ?publication <https://semopenalex.org/ontology/hasVolume> ?volume .
              }
              OPTIONAL {
                ?publication <https://semopenalex.org/ontology/hasIssue> ?issue .
              }
              OPTIONAL {
                ?publication <http://purl.org/spar/fabio/hasPublicationYear> ?publicationYear .  
              }
            } 
            GROUP BY ?title ?publication ?publicationYear ?cited ?publisher ?volume ?issue
            ORDER BY {{#if sort}}{{sort}}{{else}}DESC(?cited){{/if}}
            LIMIT {{#ifCond all "===" "true"}}1001{{else}}10{{/ifCond}}'
            number-of-displayed-rows="10" tuple-template='
              <div class="publication">
                <div class="publication__top">
                  <semantic-link iri="{{publication.value}}">
                  </semantic-link>
                  <div class="publication__author" style="width: 100%;">
                    <mp-text-truncate truncate="..." style="width: inherit;">
                      By {{authors.value}}
                    </mp-text-truncate>
                  </div>
                  <div class="publication__info">
                    {{#if publisher}}<semantic-link iri="{{publisher.value}}"></semantic-link>, {{/if}}
                    {{#if volume}}Volume {{volume.value}}, {{/if}}
                    {{#if issue}}Issue {{issue.value}}, {{/if}}
                    {{publicationYear.value}}
                  </div>
                </div>
                <div class="publication__bottom">
                  <div class="publication__year">{{publicationYear.value}}</div>
                  <div class="publication__citation">
                    <div class="publication__citation-icon"></div>
                    <div class="publication__citation-value">{{cited.value}}</div>
                  </div>
                </div>
              </div>
          ' options='{"showFilter":false}'></semantic-table>
            <mp-event-trigger type='Component.TemplateUpdate' data='{"all": "true", "sort": "{{sort}}"}' targets='["publications"]'>
              <button class='publications__foot-button {{#ifCond all "===" "true"}}publications__foot-button--disabled{{/ifCond}}'>ALL PUBLICATIONS</button>
            </mp-event-trigger>
        </template>
      </mp-event-target-template-render>
    </div>
  </div>
</div>