<div style='border-top: 1px solid rgb(204, 204, 204)'>
	<div style="margin-right:16px;display:flex;justify-content: flex-end;">
		<div style='font-size:12px'>
			Powered by
			<a target="_blank" href="https://metaphacts.com/product/metaphactory-overview">
				<img width="50px" height="60px" src="{{page-publicPath}}/assets/images/metaphactory-logo.svg" alt="metaphactory">	
			</a>
			& Ontotext   
			<a target="_blank" href="https://www.ontotext.com/products/graphdb/">
				<img style="margin-left:8px" width="50px" src="https://www.ontotext.com/wp-content/uploads/2022/09/Logo-GraphDB.svg" alt="Ontotext GraphDB">	
			</a>
		</div>
	</div>
</div>
